:host {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}

.programs-list {
  display: block;
  margin: 0 auto;
  max-width: 800px;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
